body, html {
   height: 100%;
}

.bg {
   /* The image used */

   /* Full height */
   height: 100%;
   background-image: url('images/banner.jpg');
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

p {
    margin:10px;
}
.a {
   color:#333333;
}
.edit-profile-form {
  padding:30px;
}
.img-input {
  width: 100%;
   text-decoration: none;
}
 a:link {
    text-decoration: none;
}

.navbar{
  opacity: .8;
}