html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
}

.jumbotron {
  height: 800px;
  background: url(../images/background.jpg);
  background-size: cover;
  border-radius: 0;
}
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

p {
    margin:10px;
}
.a {
   color:#333333;
}
.edit-profile-form {
  padding:30px;
}
.img-input {
  width: 100%;
   text-decoration: none;
}
 a:link {
    text-decoration: none;
}